/* main elements */

body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}

body {
	background-color: #fff;
	text-align: center;
}

#header {
	text-align: center;
}

#header .title {
    font-size: 4.25em;
    font-family: Constantina,Georgia,'Nimbus Roman No9 L',serif;
    text-decoration: none
}

#header-menu {
    text-align: center;
    padding: 20px;
}

#wrapper {
	width:800px;
	min-width: 800px;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;

	/* fix max-width incompatibility in IE6 */
	width:expression(document.body.clientWidth > 800? "800px": "auto" );
	
	overflow:hidden;
	display:block;
}

/* header and footer elements */

#main {
	overflow:hidden;
	display:box;
}
    
#menu h2 {
	display: block;
	margin: 0;
	padding: 5px 10px;
	color:#FFFFFF;
}

#menu h2 {
	color: #fff;
	background: #63117F;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
    cursor: pointer;
}

#menu {
    border-top: 1px solid #EAEBEC;
    border-bottom: 1px solid #EAEBEC;
    padding: 5px;
	height: 30px;
    list-style:none;
	font-weight:bold;
	margin-bottom:25px;
	/* Clear floats */
	width:100%;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}

#menu li {
	float:left;
	margin-right:10px;
	position:relative;
}

#menu a{
	display:block;
	text-decoration:none;
    color: #666666;
	background: #efefef;
	text-decoration: none;
	padding: 2px 12px;

}
#menu a:hover{
	color: #fff;
	text-decoration:underline;
}

/*--- DROPDOWN ---*/
#menu ul{
	list-style:none;
	position:absolute;
    margin: 0;
	padding: 0;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    border: 2px solid #666;
}
#menu ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
}
#menu ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#menu li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
    background: white;
}
#menu li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background: white;
	text-decoration:underline;
    border-top: 1px solid #EAEBEC;
    border-bottom: none;
    color: #333;
    padding: 3px 10px;
}
#menu li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#menu li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	color: #63117F;
    border-bottom: 1px solid #63117F;
}

#footer {
	background:#fff;
	border:none;
	margin-top:30px;
	border-top:1px solid #999999;
}

#footer .new {
	float:left;
}

#footer a:link {color: #63117F;}

.quicklinks {
	clear:both; 
	padding-bottom: 15px
}
.quicklinks span {
	float: right;
}

table.navigation {
	border: 0;
}

label {
	width:100px;
	float:left;
	margin-left: 5px;
	margin-top: 0;
}

input {
	height:20px;
}

input, textarea, select {
	border:1px solid #B3B3B3;
}

input.image {
	border: none;
	height: auto;
	vertical-align: middle;
}

submit {
	height:25px;
}

div {
	text-align: left;
}

div .box {
	display:block;
	margin-left:105px;
}

/* menu elements*/

a.menu, a.menu:link, a.menu:visited {display:block; width:150px; height:25px;} 
	
/* text styles */

h1,h2,h3 {
	font-family: Helvetica, sans-serif;
	color: #63117F;
}

h1 {
	font-size: 20px;
	line-height: 26px;
}

h2 {
	font-size: 18px;
	line-height: 20px;
}

h3 {
	font-size: 15px;
	line-height: 21px;
	color:#555;
}

h4 {
	font-size: 14px;
	line-height: 20px;
}

.errors {
	color: red;
	font-weight: bold;
	display: block;
	margin-left: 105px;
}

a {
	text-decoration: underline;
	font-size: 12px;
}

a img {
	border: 0 none;
	vertical-align: middle;
}

tr:nth-child(odd) {
	background-color: #FFFFFF;
}

tr:nth-child(even) {
	background-color: #EFEFEF;
}

a:link {
	color: #63117F;
}

a:hover {
	color: #63117F;
}

a:active {
	color: #63117F;
}

a:visited {
	color: #63117F;
}

li {
	padding-top: 5px;
	text-align: left;
}

ul li {
	margin:0 0 0.25em 0;
	padding:0;
}
/* table elements */

table {
	background: #EEEEEE;
	margin: 2px 0 0 0;
	border: 1px solid #BBBBBB;
	border-collapse: collapse;
	width: 100%
}

table table {
	margin: -5px 0;
	border: 0 solid #e0e7d3;
	width: 100%;
}

table td,table th {
	padding: 2px;
	border: 1px solid #CCCCCC;
}

table td form {
	text-align:center;
	vertical-align: middle;
	margin: 0;
}

table th {
	font-size: 0.9em;
	text-align: left;
	font-weight: bold;
	color: #FFF;
	background: #999;
}

table thead {
	font-weight: bold;
	font-style: italic;
	background-color: #BBBBBB;
}

table a:link {color: #303030;}

.utilbox {width: 18px;}

caption {
	caption-side: top;
	width: auto;
	text-align: left;
	font-size: 12px;
	color: #848f73;
	padding-bottom: 4px;
}

fieldset {
	background: #e0e7d3;
	padding: 8px;
	padding-bottom: 22px;
	border: none;
	width: 560px;
}

fieldset label {
	width: 70px;
	float: left;
	margin-top: 1.7em;
	margin-left: 20px;
}

fieldset textfield {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset textarea {
	margin: 3px;
	height: 165px;
	background: #e0e7d3;
}

fieldset input {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset table {
	width: 100%;
}

fieldset th {
	padding-left: 25px;
}

.table-buttons {
	background-color:#fff;
	border:none;
}

.table-buttons td {
	border:none;
}

.submit input {
	border: 1px solid #BBBBBB;
	color:#777777;
	padding:2px 7px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	height:24px;
    cursor: pointer;
}

.updated {
	background:#ecf1e5;
	font-size:11px;
	margin-left:2px;
	border:4px solid #ecf1e5;
}

.updated td {
	padding:2px 8px;
	font-size:11px;
	color:#888888;
}

.dijitArrowButton {
	height: 20px;
}

.dijitTextArea{
	min-height:5.5em !important;
	max-height:22em !important;
	overflow-y: auto !important;
	max-width: 175px;
}

.RichTextEditable{
	min-height:18em !important;
	max-height:18em !important;
}

.flag {
	height: 11px;
	width: 16px;
}

.credentials {
    font-size: 9px;
    color: gray;
    float: right;
    padding: 10px;
    background-color: #F1F0FF; 
    width: 175px;
}